# <center><u> Python basics</u></center>
![image.png](attachment:image.png)

Python is emerging as the popular language used more in data science applications.

Take the case of the tech giant Google that has created the deep learning framework called tensorflow – Python is the primary language used for creating this framework. Its footprint has continued to increase in the environment promoted by Netflix. Production engineers at Facebook and Khan Academy have for long been using it as a prominent language in their environment.

Python became the most popular language in the data science world.
So what are you waiting for? Lets start learning python basic as your first assignment.


Add-on Reference: https://youtu.be/HGOBQPFzWKo

Add-on reference: https://youtu.be/8DvywoWv6fI


## Variable declaration

Covers the topic of variable declaration and type of variables

reference:- https://youtu.be/RVYY7zMiPbg

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [12]:
# declare two variables, a = 5, b = 'city'
a = 5 # your code here
b = 'city' # your code here

In [13]:
# print type of a
print(type(a))

<class 'int'>

In [14]:
# print type of b
print(type(b))

<class 'str'>

In [15]:
# swap the values of a and b
a, b = b, a

In [16]:
# run this to confirm 
print("a = ", a, ", b = ", b)

a =  city , b =  5

Cool! so variable declaration and getting it's type was easy.

## Arithmetic Operations

Hey novice! this will be easy for you until you know basic arithmetic symbols like +, -, /, * etc.

reference:- https://youtu.be/0-hzxfkpHy8

<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [17]:
# declare two variables, a = 24, b = 3

a = 24 # your code here
b = 3 # your code here
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

In [18]:
# calculate and print all the possible numerical operations on a and b (There are total 7 operations)

print("a + b = ", a+b)
print("a - b = ", a-b)
print("a * b = ", a*b)
print("a / b = ", a/b)
print("a % b = ", a % b)
print("a // b = ", a // b)
print("a ^ b = ", a**b)

a + b =  27
a - b =  21
a * b =  72
a / b =  8.0
a % b =  0
a // b =  8
a ^ b =  13824

## Math Functions

Lets do some simple mathematical operations by using math module. Math module contains various mathematical functions. So here we go!

Reference:- https://youtu.be/gktjNyV0xks

Reference document: https://docs.python.org/3/library/math.html
<p style='text-align: right;'> 10 points </p>

In [19]:
import math

In [20]:
# declare a variable x = 2 and y=5.32167
x = 2
y = 5.32167

In [21]:
# Print the maximum value between x and y
print(max(x, y))

5.32167

In [22]:
# Print the minimum value between x and y
print(min(x, y))

2

In [23]:
# Print square and cube of x and store in a and b variable
a = x ** 2
b = x ** 3
print(a)
print(b)

4
8

In [24]:
#print log of x and store it in variable c
c = math.log(x)
print(c)

0.6931471805599453

In [25]:
#print minimum value between x,y,a, b and c
print(min(x, y, a, b, c))

0.6931471805599453

In [26]:
#print maximum value between x,y,a, b and c
print(max(x, y, a, b, c))

8

In [27]:
#print the largest integer that is smaller than or equal to c. ie.round down
print(math.floor(c))

0

In [28]:
#print the smallest integer that is greater than or equal to c ie. round up
print(math.ceil(c))

1

## Logical operations

You must be aware of some logical operations you did in college, like 'and', 'or', 'not' etc. These operations becomes even more easy to implement when you have friend like python.

Reference:- https://youtu.be/9w992l9TFIs

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [29]:
# declare two variables, a = True, b = False
a = True #your code here
b = False #your code here
print(a)
print(b)

True
False

In [30]:
# print type of a and type of b
print("type of a = ",type(a), "type of b = ", type(b))

type of a =  <class 'bool'> type of b =  <class 'bool'>

A fun fact for you !
The Python Boolean type is one of Python's built-in data types. It's used to represent the truth value of an expression

In [31]:
# print int(a) and int(b)
print(int(a))
print(int(b))

1
0

We are sure you must have seen that, values for 'True' is 1 and for 'False' is 0.

In [32]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
print("not a = ", not a)
print("not b = ", not b)
print("a and b = ", a and b)
print("a or b = ", a or b)
print("a and not b = ", a and not b)

not a =  False
not b =  True
a and b =  False
a or b =  True
a and not b =  True

We hope you tried to undertand the above output!

## List Comprehensions

Hey buddy! Python has really amazing thing called list comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. Cool right? Let's dive into this more by doing it. 

Reference:- https://youtu.be/17gTGqHG5xQ

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [33]:
# Using list comprehension, create a list containing numbers from 1 to 20. 
# Hint: You can use range function of python to do this.
numbers = [elem for elem in range(1, 21)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [34]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even
even_numbers = [element for element in range(1, 21) if element % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [35]:
fruits = ['apple', 'orange', 'guava', 'mango']# your code here (create a list of your favourite fruits)
len_fruits = [len(elem) for elem in fruits] # your code here

print(fruits)
print(len_fruits)

['apple', 'orange', 'guava', 'mango']
[5, 6, 5, 5]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

Amazing right?

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

### Characters in strings


Reference:- https://www.programiz.com/python-programming/string

Reference:-  https://youtu.be/LnQDWIMaJlA

In [36]:
# declare the variables x = cat and y = dog and print it
x = 'cat' #your code here
y = 'dog' #your code here

print(x)
print(y)

cat
dog

In [37]:
#Print first character of both x and y. 
print(x[0])
print(y[0])

c
d

In [38]:
#Print last character of both x and y.
print(x[-1])
print(y[-1])

t
g

In [39]:
#Print len of both x and y
print(len(x))
print(len(y))

3
3

In [40]:
#concatenate both x and y and store it in variable z and print z
z = x + y
print(z)

catdog

In [41]:
#check if x is part of z 
if x in z:
  print("Yes")
else:
  print("No")

Yes

### String slicing



Hey coder, do you know? Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end

So be ready to implement it today!
<p style='text-align: right;'> 2 points </p>

In [42]:
#Create variable a = “pineapple”
a = "pineapple"# your code here
print(a)

pineapple

In [43]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
print(a[:4])
print(a[4:])

pine
apple

In [44]:
#Convert a into upper case
a.upper()

'PINEAPPLE'

## Dealing with Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [45]:
# Declare a sentence of ‘I am flying to London’ and print it
sentence = 'I am flying to London'
print(sentence)

I am flying to London

In [46]:
#Print length of the sentence
print(len(sentence))

21

In [47]:
#Using list indexing, to print the word London
print(sentence[15:])

London

In [48]:
# Use .split to get list of individual words in the sentence
print(sentence.split())

['I', 'am', 'flying', 'to', 'London']

In [49]:
# Convert sentence in lower case 
sentence.lower()

'i am flying to london'

In [50]:
# Convert sentence in upper case .
sentence.upper()

'I AM FLYING TO LONDON'

Great job! Slicing is fun.

## Functions

Declare a function named square, which takes an input as x, and returns the square of x.

Reference:- https://youtu.be/Rpq9MC67M08

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [51]:
def square(x):
  return x ** 2

Call the function to find the value of square of 9.

In [52]:
# find the square of 9 using the function square you have just created.
print(square(9))

81

Wohoo! see, defining function was simple

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output
<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [53]:
# your code here
def is_even_odd(num):
  if num % 2 == 0:
    print("", num, "is Even")
  else:
    print("", num, "is Odd")
  return

Hey smarty! lets use both the functions together to check whether the square of 3,6 and 21 are odd or even.

In [54]:
 # your code here
is_even_odd(square(3))
is_even_odd(square(6))
is_even_odd(square(21))

 9 is Odd
 36 is Even
 441 is Odd

hey hey! You did a great code. Did you see the benefit of using functions

# Loops and Iterations
Reference:- https://youtu.be/6iF8Xb7Z3wQ

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [55]:
#Declare a variable x equal to a number of your choice.
#your code here
x =  10 # add a number of your choice (mine is 3 :) )
print(x)

10

In [56]:
#Using an if statement, print whether x is zero, positive or negative.
if x < 0:
  print("", x, "is negative")
elif x > 0:
  print("",x, "is positive")
else:
  print("", x, "is zero")

 10 is positive

In [57]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.

def check_num(number):
  if number < 0:
    print("", number, "is negative")
  elif number > 0:
    print("", number, "is positive")
  else:
    print("", number, "is zero")
  return
  
check_num(10)
check_num(-2)
check_num(0)

 10 is positive
 -2 is negative
 0 is zero

## For loop

<p style='text-align: right;'> 2 points </p>

In [58]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.
x = ['India', 'Israel', 'Canada']

In [59]:
#Using For loop, iterate over the list and print the elements.
for elem in x:
  print(elem)

India
Israel
Canada

<p style='text-align: right;'> 2 points </p>

In [60]:
# Using For loop, print the table of 2.
for num in range(2, 21, 2):
  print("2 * ", num//2, "= ", num)

2 *  1 =  2
2 *  2 =  4
2 *  3 =  6
2 *  4 =  8
2 *  5 =  10
2 *  6 =  12
2 *  7 =  14
2 *  8 =  16
2 *  9 =  18
2 *  10 =  20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [61]:
#code here
x = [21, 'hello', 'cream', 20, 19, 'village']
for elem in x:
  if type(elem) == int:
    print(elem)

21
20
19

Using For loop, lets create a pattern.

<p style='text-align: right;'> 10 points </p>

In [62]:
# print the following pattern
for i in range(1, 6):
  for j in range(1, i+1):
    print("*", end = " ")
  print("")

*
* *
* * *
* * * *
* * * * *

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [63]:
def counter(n):
 # add your code here
    num = 1
    while(num <= n):
      print(num)
      num+=1
    return

In [64]:
counter(10) #this should print numbers from 1 to 10

1
2
3
4
5
6
7
8
9
10

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [65]:
# your code here
flag = True 
num = 5
while flag == True:
  print(num)
  num += 5
  if num > 50:
    flag = False

5
10
15
20
25
30
35
40
45
50

Awsesome! Great job so far. Hope you fell in love with python now.

----------------------------------------------------------------------

# Smile, you completed the first milestone :)!!

# Its Feedback Time!

We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
 https://zfrmz.in/MtRG5oWXBdesm6rmSM7N
 
-------------------------------------